<div id="footer-wrap">
	<div id="footer">
		<p class="copyright">Copyright &copy; 2006 Sitename.com. Template Designed by <a href="http://www.cssMoban.com/">cssMoban.com</a>&nbsp;&nbsp;&nbsp;Free Icons by <a href="http://famfamfam.com/">FAMFAMFAM</a></p>
	</div>
</div>
</body>
</html>

